pkgbase = hid-nintendo-licensed-led
	pkgdesc = Automatic player LED assignment for Nintendo-licensed Bluetooth controllers (vendor 0E6F)
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Kyworn/hid-nintendo-licensed-led
	arch = any
	license = MIT
	depends = python
	source = hid-nintendo-licensed-led-1.0.0.tar.gz::https://github.com/Kyworn/hid-nintendo-licensed-led/archive/v1.0.0.tar.gz
	sha256sums = d92618f930dbee8a7513a7052d546cfd447a3f12d190614309a35820d9a4aa5f

pkgname = hid-nintendo-licensed-led
